@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

:root{
--color: #0c0c0c; 
}

.nav{
  background-color: rgba(0, 0, 0, 0.747) !important;
  box-shadow: 1px !important;
}
.nav-links a{
  color: white !important;
}
.nav > .nav-links > a:hover {
  background: #7a7a7a !important;
  transition: .5s;
  color: rgb(37, 79, 250);
}


body {
  font-family: "Lato", sans-serif !important;

  margin: 0;
}

.parallax-container {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative; /* Absolute yerine relative */
  background-attachment: fixed;
  overflow: hidden;
  z-index: 1; /* Container'ın üstte olması için */
}

.container {
  text-align: center; /* Yazıları ortalamak için */
  color: var(--color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Yatayda ortalama */
  justify-content: center; /* Dikeyde ortalama */
  background-image: url('../img/pixelcut-export.png');
  background-size: cover;
  /* background-position: center; */
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
  /* background-repeat: no-repeat;
  background-position: 50% 50%; */
}


h2 {
  font-size: 4rem;
  color: white;
  letter-spacing: 10px;

}

.abc {
  font-size: 1.5rem;
  letter-spacing: 5px;
  color: white;
  position: absolute;
  bottom: 20%;
}



a {
  display: inline-block;
  /* padding: 1em 3.5em; */
  /* background-color: black; */
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3em;
  font-weight: 700;
  letter-spacing: .5px;
  font-size: .875rem;
}

.blank,
.other {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  border-top: 5px solid wheat;
  position: inherit;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color);
  /* box-shadow: 0 0 2rem white; */

}
.description {
  font-size: 24px;
  text-align: center;
  padding: 24px;
  color: wheat;
  text-shadow: 0 1px 0 #4a4a4e, -1px -1px 0 #4a4a4e,  -1px 0px 0 #343437, -2px 1px 0 #343437, -3px 2px 0 #313134, -4px 3px 0 #2f2f31, -5px 4px 0 #2c2c2f, -6px 5px 0 #2a2a2c, -7px 6px 0 #27272a;
}

.owText {
  padding: 64px;
  text-align: center;
  -webkit-text-stroke: 2px white;
  position: relative;
  text-transform: uppercase;
  color: #252527;
  font-size: 3vh;
  letter-spacing: 1.2vw;
  font-weight: 700;
  text-shadow: 0 1px 0 #4a4a4e, -1px -1px 0 #4a4a4e,  -1px 0px 0 #343437, -2px 1px 0 #343437, -3px 2px 0 #313134, -4px 3px 0 #2f2f31, -5px 4px 0 #2c2c2f, -6px 5px 0 #2a2a2c, -7px 6px 0 #27272a;
}

.blank2{
  width: 100%;
  min-height: 100vh;
  background-color: var(--color);
  box-shadow: 0 0 2rem black;

}


.second {
  /* background-image: url('../img/aisekli.webp'); */
  background-attachment: fixed;
  background-color: #252527;
  height: 900px;
}

h3 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 1em;
}
.second {
  flex-direction: row;
  gap: 1.6em;
}






.btn {
  background: hsl(0deg 0% 7.23%);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font: 600 1.05rem/1 "Nunito", sans-serif;
  letter-spacing: 0.05em;
  overflow: hidden;
  padding: 1.15em 3.5em;
  min-height: 3.3em;
  position: absolute;
  bottom: 15%;
  /* text-transform: lowercase; */
  margin-top: 1rem;
}
.btn--yellow {
  --hue: 46;
}

.btn:active, .btn:focus {
  outline: 3px solid hsl(calc(var(--hue) + 90), 98%, 80%);
}
.btn + .btn {
  /* margin-top: 2.5em; */
}
.btn__txt {
  position: relative;
  z-index: 2;
}
.btn__bg {
  background: hsl(var(--hueBg), 98%, 80%);
  border-radius: 50%;
  display: block;
  height: 0;
  left: 50%;
  margin: -50% 0 0 -50%;
  padding-top: 100%;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: scale(0);
  transform-origin: 50% 50%;
  transition: transform 0.175s cubic-bezier(0.5, 1, 0.89, 1);
  z-index: 1;
}
.btn__bg:nth-of-type(1) {
  --hueBg: calc(var(--hue) - 90);
  transition-delay: 0.1725s;
}
.btn__bg:nth-of-type(2) {
  --hueBg: calc(var(--hue) - 180);
  transition-delay: 0.115s;
}
.btn__bg:nth-of-type(3) {
  --hueBg: calc(var(--hue) - 270);
  transition-delay: 0.0575s;
}
.btn__bg:nth-of-type(4) {
  --hueBg: calc(var(--hue) - 360);
  transition-delay: 0s;
}
.btn:hover .btn__bg, .btn:focus .btn__bg, .btn:active .btn__bg {
  transform: scale(1.5);
  transition: transform 0.35s cubic-bezier(0.11, 0, 0.5, 0);
}
.btn:hover .btn__bg:nth-of-type(1), .btn:focus .btn__bg:nth-of-type(1), .btn:active .btn__bg:nth-of-type(1) {
  transition-delay: 0.115s;
}
.btn:hover .btn__bg:nth-of-type(2), .btn:focus .btn__bg:nth-of-type(2), .btn:active .btn__bg:nth-of-type(2) {
  transition-delay: 0.23s;
}
.btn:hover .btn__bg:nth-of-type(3), .btn:focus .btn__bg:nth-of-type(3), .btn:active .btn__bg:nth-of-type(3) {
  transition-delay: 0.345s;
}
.btn:hover .btn__bg:nth-of-type(4), .btn:focus .btn__bg:nth-of-type(4), .btn:active .btn__bg:nth-of-type(4) {
  transition-delay: 0.46s;
}





.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 30vh; */
  z-index: 100;
  background: linear-gradient(0deg, white 75%, rgba(255, 255, 255, 0.9) 80%, rgba(255, 255, 255, 0.25) 95%, rgba(255, 255, 255, 0) 100%);
}

.text {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 9vw; /* Font boyutunu viewport genişliğine göre ayarla */
  display: flex;
  position: absolute;
  bottom: 20vh;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
  text-align: center; /* Ortalamak için */
}

.text .wrapper {
  padding-left: 1vw; /* Responsive padding */
  padding-right: 1vw; /* Responsive padding */
  padding-top: 1vw; /* Responsive padding */
}

.text .wrapper .letter {
  transition: ease-out 1s;
  transform: translateY(40%);
}

.text .wrapper .shadow {
  transform: scale(1, -1);
  color: #999;
  transition: ease-in 5s, ease-out 5s;
}

.text .wrapper:hover .letter {
  transform: translateY(-200%);
}

.text .wrapper:hover .shadow {
  opacity: 0;
  transform: translateY(200%);
}

/* FOOTERRRR */
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #ffffff;
  background-color: #000000;
  border-top: 1px solid #e5e5e5;

  align-items: center; 
  justify-content: center; 
  text-align: center;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  /* margin-top: 1.3em; */
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px !important;
  margin: 0; /* Varsayılan margin'i kaldırıyoruz */
  padding: 0
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 3px !important;
}

.footer address {
  font-style: normal;
  color: #ffffff;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
  display: block !important;
  margin: 0; /* Varsayılan margin'i kaldırıyoruz */
  padding: 0; /* Varsayılan padding'i kaldırıyoruz */
  line-height: 2em; /* Satır yüksekliği */
}

.footer a {
  text-decoration: none;
  font-weight: 400 !important;
}
.footer a:hover {
  color: burlywood;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
  justify-content: center; /* Yatayda ortalama */

}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;

  margin-bottom: 1.5rem; /* Boşluk ekleyebiliriz */
}

.nav__ul a {
  color: #838181;
  padding: 1px !important;
  
}
.nav__ul a:hover{
  color: burlywood !important;

}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.nav__title {
  margin-bottom: 10px; /* H2 ve liste elemanları arasına boşluk eklemek için */
}
.legal {
  display: flex;
  justify-content: flex-start; /* Yatayda ortalama */
  text-align: center; /* Metin içeriği için ortalama */
  color: #999;
  width: 100%;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}




@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
  
}

@media screen and (min-width: 40.375em) {

  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
    text-align: left;

  }
  
  .footer__nav {
    flex: 2 0px;
  }
}




@media screen and (max-width: 768px) {

  h1 {
      font-size: 2.5rem;
  }

  .legal{justify-content: center;}

  .abc {
      font-size: 1rem;
  }
  .btn{
    font-size: 14px;
    padding: 1em;
  }

  a {
      padding: 0.5em 2em;
      font-size: .75rem;
  }

  .second {
      flex-direction: column;
  }

  .item {
      max-width: 100%;
  }
  .container {
    background-position: 50% 50%;
    background-size: cover;
    height: 100vh;
  }
  .description{
    font-size: 18px;
  }

}


@media (max-width:600px) {
  .nav-links a{
    color: rgb(255, 255, 255) !important;
  }

  .nav-links{
    background-color:rgba(0, 0, 0, 0.747) !important;
  }
}