<!DOCTYPE html>
<html lang="en">

<head>
  <title>About</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/about.css">
</head>

<body style="background:url('../static/img/bbgOpacity.jpg');">

  {% include 'navbar.html' %}

  <!-- The Band Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:900px;" id="band">
    <h2 class="w3-wide w3-padding-16 " style="font-weight: 600;">WHAT IS MOVAI?</h2>
    <p class="">
      MovAI is your AI-powered personal assistant for all things movies and TV shows. Engage in a conversation to get
      movie and TV show recommendations, detailed information about any title you're curious about, and even lists of
      popular or top-rated movies by genre.
      <br>Powered by The Movie Database (TMDb) API, MovAI taps into a vast database of movies and TV shows, providing
      you with the most up-to-date information. When you ask a question or make a request, MovAI uses the TMDb API to
      search for relevant data and presents it to you in an easy-to-understand format.
    </p>

    <div class="" style="text-align: left;">
      <h2 class="w3-wide w3-padding-24 " style="font-weight: 600;">FEATURES</h2>
      <ul>
        <li><b>Movie & TV Show Recommendations:</b> Tell MovAI the genre, actor, or director you're interested in, and
          it will suggest great options for you to watch.</li>
        <li><b>Detailed Information:</b> Ask MovAI about any movie or TV show you're curious about. Get instant access
          to information like title, overview, release date, genres, production countries, a TMDb link, and even where
          it's streaming.</li>
        <li><b>Popular & Top-Rated Lists:</b> Ask MovAI for lists of currently popular movies or the best movies in a
          specific genre.</li>
        <li><b>User-Friendly Interface:</b> Chatting with MovAI is easy and fun. Ask your questions in natural
          language and get instant answers.
        </li>
      </ul>
    </div>
  </div>
  <p class="w3-opacity w3-center "><i>We love AI</i></p>

  <!-- CARD SECTION -->
  <div class="w3-black" id="tour">
    <h3 class="w3-wide" style="text-align: center;">WHILE DESIGNING THIS SITE</h3>
    <p class="w3-opacity" style="text-align: center;"><i>the following technologies were utilized:</i></p>
    <div style="flex-wrap: wrap;display: flex;">
      <div title="Flask" class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
        <div class="bloc">
          <div class="content content1">
            <!-- <p>Flask</p> -->
            <!-- <p>Flask is a lightweight and flexible web framework that makes it easy to develop web applications with Python.</p> -->
          </div>
          <div class="content content2">
          </div>
        </div>
      </div>

      <div title="HTML, CSS, JS" class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
        <div class="bloc">
          <div class="contennt contennt1">
            <!-- <p>HTML,CSS,JS</p> -->
            <!-- <p>Flask is a lightweight and flexible web framework that makes it easy to develop web applications with Python.</p> -->
          </div>
          <div class="contennt contennt2">
          </div>
        </div>
      </div>

      <div title="Cohere" class="wrapper elem" style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);">
        <div class="bloc">
          <div class="contentt contentt1">
            <!-- <p>Cohere</p> -->
            <!-- <p>Cohere is a platform that offers text understanding and generation capabilities using one of the most advanced artificial intelligence models, the big language model (LLM).       </p> -->
          </div>
          <div class="contentt contentt2">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" id="contact">

    {%include 'contact.html'%}

  </div>

  <!-- End Page Content -->
  </div>


  <!-- Footer -->
  <footer class="w3-container w3-padding-64 w3-center w3-light-grey w3-xlarge">
    <a href="https://www.github.com/afyildiiz/" target="_blank"> <i class="fa fa-facebook-official w3-hover-opacity"></i> </a>
    <a href="https://www.instagram.com/afyildiiz" target="_blank"> <i class="fa fa-instagram w3-hover-opacity"></i> </a>
    <a href="https://www.linkedin.com/in/afyildiiz" target="_blank"> <i class="fa fa-linkedin w3-hover-opacity"></i> </a>
    <a href="https://medium.com/@afyildiiz" target="_blank"> <i class="fa fa-medium w3-hover-opacity"></i> </a>
    <p class="w3-large" style="font-family: 'Bebas Neue', cursive;opacity: 0.6;">Checkout my <a target="_blank" class="portfolio" href="https://afyildiiz.netlify.app">Portfolio</a> Site</p>
    <!-- <p class="w3-large w3-padding-large" style="font-family: 'Bebas Neue', cursive;opacity: 0.6;">ßPowered by A. Fatih Yildiz</p> -->
  </footer>


  <script>
    function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }



    !(function ($doc, $win) {
      var screenWidth = $win.screen.width / 2,
        screenHeight = $win.screen.height / 2,
        $elems = $doc.getElementsByClassName("elem"),
        validPropertyPrefix = '',
        otherProperty = 'perspective(1000px)',
        elemStyle = $elems[0].style;

      if (typeof elemStyle.webkitTransform == 'string') {
        validPropertyPrefix = 'webkitTransform';
      } else if (typeof elemStyle.MozTransform == 'string') {
        validPropertyPrefix = 'MozTransform';
      }

      $doc.addEventListener('mousemove', function (e) {
        var centroX = e.clientX - screenWidth,
          centroY = screenHeight - (e.clientY + 13),
          degX = centroX * 0.04,
          degY = centroY * 0.02,
          $elem

        for (var i = 0; i < $elems.length; i++) {
          $elem = $elems[i];
          $elem.style[validPropertyPrefix] = otherProperty + 'rotateY(' + degX + 'deg)  rotateX(' + degY + 'deg)';
        };
      });
    })(document, window);
  </script>
</body>

</html>




<script>