
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/card.css">
    <title></title>


        <!-- <div class="card-container">
            <article class="card">
              <img class="card__background" src="https://images.ctfassets.net/kftzwdyauwt9/1ZTOGp7opuUflFmI2CsATh/df5da4be74f62c70d35e2f5518bf2660/ChatGPT_Carousel1.png?w=3840&q=90&fm=webp" alt="Card Image 1" />
            </article>
            <article class="card">
              <img class="card__background" src="https://images.ctfassets.net/kftzwdyauwt9/4uMG8AuQre4G4zXy6jLIpk/a393d8838bff23a44a22db247954da7e/updated_team-1.png?w=3840&q=90&fm=webp" alt="Card Image 2" />
            </article>
            <article class="card">
              <img class="card__background" src="../static/img/art2.jpg" alt="Card Image 3" />
            </article>
            <article class="card">
              <img class="card__background" src="../static/img/art2.jpg" alt="Card Image 3" />
            </article>
            <article class="card">
              <img class="card__background" src="../static/img/art2.jpg" alt="Card Image 3" />
            </article>
          </div> -->


   
      <div style="display: flex; justify-content: center;" class="aa">
          <figure class="icon-cards mt-3">
            <div class="icon-cards__content">
              <div class="icon-cards__item d-flex align-items-center justify-content-center">
                <article class="card">
                  <img class="card__background" src="https://images.ctfassets.net/kftzwdyauwt9/1ZTOGp7opuUflFmI2CsATh/df5da4be74f62c70d35e2f5518bf2660/ChatGPT_Carousel1.png?w=3840&q=90&fm=webp" alt="" />
                </article>
              </div>
              <div class="icon-cards__item d-flex align-items-center justify-content-center">
                <article class="card">
                  <img class="card__background" src="https://images.ctfassets.net/kftzwdyauwt9/4uMG8AuQre4G4zXy6jLIpk/a393d8838bff23a44a22db247954da7e/updated_team-1.png?w=3840&q=90&fm=webp" alt="" />
                </article>
              </div>
              <div class="icon-cards__item d-flex align-items-center justify-content-center">
                <article class="card">
                  <img class="card__background" src="https://images.ctfassets.net/kftzwdyauwt9/1og20QPrDYssv1fnRasbXW/af144bf758f510bf28b1c0da911fbcdf/empower_your_entire_workforce_with_enterprise_grade_ai.jpg?w=3840&q=90&fm=webp" alt="" />
                </article>
              </div>
              <div class="icon-cards__item d-flex align-items-center justify-content-center">
                <article class="card">
                  <img class="card__background" src="https://images.ctfassets.net/kftzwdyauwt9/R9V8ddGqzERPQ3b7sXTXt/85cc124200e4c69051f90368f0405fb6/discuss_custom_solutions_for_your_company.jpg?w=3840&q=90&fm=webp" alt="" />
                </article>
              </div>
            </div>
          </figure>
    
        </div>



        <script>
            
        </script>