<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>MovAI Chatbot</title>
</head>
<body>
  {% include 'navbar.html' %}

  <h1 class="header header--shadow" data-text="MovAI">MovAI</h1>
  
  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        Debussy Bot 4.5+
      </div>
      <div class="header-right text-right">
        <!-- <a href=""><img src="https://upload.wikimedia.org/wikipedia/commons/c/c8/Ei-share-apple.svg" alt="" width="20"></a> -->
      Export
      </div>
    </header>
  
    <main class="msger-chat">
      <div class="msg left-msg"></div>
      <div class="msg right-msg"></div>
  
      <!-- dot spinner -->
      <div id="loading" class="loading-dots" style="display: none;">
        <span></span><span></span><span></span>
      </div>
    </main>
  
    <form class="msger-inputarea">
      <input type="text" class="msger-input" placeholder="Enter your message...">
      <button type="submit" class="msger-send-btn">Send</button>
    </form>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script>
  const form = document.querySelector('.msger-inputarea');
  const input = document.querySelector('.msger-input');
  const chat = document.querySelector('.msger-chat');

  form.addEventListener('submit', (event) => {
      event.preventDefault();

      const userMessage = input.value;
      input.value = ''; // Input alanını temizle

      // Kullanıcı mesajını chat'e ekle
      appendMessage("right", userMessage);

      document.getElementById('loading').style.display = 'flex';

      // `/get_response` endpoint'ine POST isteği gönder
      fetch('/get_response', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/x-www-form-urlencoded'
          },
          body: `user_input=${userMessage}`
      })
      .then(response => response.text()) // Yanıtı metin olarak al
      .then(botResponse => {
          // hide loading animation
          document.getElementById('loading').style.display = 'none';

          // Bot yanıtını chat'e ekle
          appendMessage( "left", botResponse);
      });
  });

function appendMessage(side, text) {
    // Kullanıcı ve bot için farklı resimler tanımlayın
    const userImage = "../static/img/userphoto.jpg"; // Kullanıcı için
    const botImage = "../static/img/ai_photo.jpg";   // Bot için

    // Mesajın tarafına göre doğru resmi seçin
    const imageURL = (side === 'left') ? botImage : userImage;
    // const spinner = (side==='right') ? `
    // <div id="loading" class="loading-dots" style="display: none;">
    //     <span></span><span></span><span></span>
    //   </div>
    //   ` : console.log("")
    // console.log(spinner)

    const msgHTML = `
    <div class="msg ${side}-msg">
        <div class="msg-img" style="background-image: url(${imageURL})"></div>
        <div class="msg-bubble">
            <div class="msg-info">
              <div class="msg-text">${text}</div>
              </div>
            <div class="msg-info-time">${new Date().toLocaleTimeString()}</div>
        </div>
    </div>
    `;

    chat.insertAdjacentHTML('beforeend', msgHTML);
    chat.scrollTop += 500; 
}

function formatDate(date) {

}

  </script>
</body>
</html>