
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/navbar.css">

    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
          <div class="nav-title">
            <img src="../static/img/logo-black.png" width="40px"  alt="">
          </div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        
        <div class="nav-links">
            <a href="{{ url_for('home')}}">Homepage</a>
            <a href="{{ url_for('about')}}">About</a>
            <!-- <a href="{{ url_for('contact')}}">Contact</a> -->
        </div>
        <div class="nav-exit">

          <div class = "down_note"></div>
        </div>
    </div>

    <script>
      const navLinks = document.querySelectorAll('.nav-links a'); // Tüm navigasyon linklerini seç

      navLinks.forEach(link => {
          link.addEventListener('click', function() {
              navLinks.forEach(navLink => navLink.classList.remove('active')); // Diğer linklerden "active" sınıfını kaldır
              this.classList.add('active'); // Tıklanan linke "active" sınıfını ekle
          });
      });
    </script>

